.swiper-container
	position relative

.swiper-horizontal
	padding-bottom 44px

.swiper-pagination
	top auto
	bottom 6px
	line-height 0
	
.swiper-pagination-bullet
	background-color #c8c8c8
	transition background $duration, width $duration, opacity $duration
	border-radius 4px
	&:hover
	&.swiper-pagination-bullet-active
		opacity 1
		background-color $accent
	&.swiper-pagination-bullet-active
		width 25px

.swiper-button-next,
.swiper-button-prev
	width 37px
	height 37px
	top 50%
	margin 0
	background-color #fff
	box-shadow 0 5px 10px 0 rgba(58, 58, 58, 0.15)
	border-radius 50%
	transform translateY(calc(-50% - 22px))
	@media $mLandscapeMax
		width 30px
		height 30px
		transform translateY(calc(-50% - 10px))
	&:after
		content ''
		width 15px
		height 13px
		background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAMAAABBwMRzAAAAP1BMVEUAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiJIcgh7AAAAFHRSTlMAs6tjXBHj2oyGaWG9ophtWigiCcxa+lEAAABOSURBVAjXXY5JDsAgDAMNFArdF///rS0oUgJziSaxFEOIfoElk5P1O5EXDDENCWxtUbxwOJIB7EFxwl7v9unvQe2dyVX16RVZwtr/bPMDmbAECh+Df2IAAAAASUVORK5CYII=') no-repeat center

.swiper-button-prev
	left -18px
	@media $mLandscapeMax
		left -18px
	&:after
		font-size 0
		transform scaleX(-1)

.swiper-button-next
	right -18px
	@media $mLandscapeMax
		right -15px
