include mixins/nav
include mixins/nav-mobile
include mixins/video
include mixins/breadcrumbs

include mixins/sections/section-head
include mixins/sections/section-head-one
include mixins/sections/section-promotions
include mixins/sections/section-articles
include mixins/sections/section-contacts
include mixins/sections/section-products
include mixins/sections/section-products-tile
include mixins/sections/section-components
include mixins/sections/section-constructor
