// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('../../static/fonts/Montserrat/Montserrat-Black.eot');
// 	src: url('../../static/fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
// 		url('../../static/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
// 		url('../../static/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
// 		url('../../static/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
// 	font-weight: 900;
// 	font-style: normal;
// 	font-display: swap;
// }
