@import 'libs/js-mfp'
@import 'libs/jq-selectbox.styl'
@import 'libs/jq-tipsy.styl'
@import 'libs/js-swiper.styl'

@import 'partials/header'
@import 'partials/main'
@import 'partials/footer'

@import 'blocks/common'
@import 'blocks/btn'
@import 'blocks/nav'
@import 'blocks/nav-mobile'
@import 'blocks/breadcrumbs'
@import 'blocks/social'
@import 'blocks/pagination'
@import 'blocks/video'

@import 'blocks/section-head'
@import 'blocks/section-reviews'
@import 'blocks/section-objects'
@import 'blocks/section-promotions'
@import 'blocks/section-materials'
@import 'blocks/section-methodology'
@import 'blocks/section-social'
@import 'blocks/section-delivery'
@import 'blocks/section-history'
@import 'blocks/section-excursion'
@import 'blocks/section-faq'
@import 'blocks/section-gallery'
@import 'blocks/section-specialists'
@import 'blocks/section-contacts'
@import 'blocks/section-seo'
@import 'blocks/section-articles'
@import 'blocks/section-products'
@import 'blocks/section-projects'
@import 'blocks/section-card'
@import 'blocks/section-components'
@import 'blocks/section-constructor'
@import 'blocks/section-better'
@import 'blocks/section-thanks'
@import 'blocks/section-waiting'

@import 'blocks/reviews'
@import 'blocks/rating'
@import 'blocks/form-callback'
@import 'blocks/popup'
