html
	font $baseFontWeight $baseFontSize/$baseLineHeight $baseFontFamily

html, body, .wrapper
	width 100%

body
	position relative
	min-width 320px
	margin 0
	padding 0
	color $primary
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility !important

.wrapper
	display flex
	flex-direction column
	justify-content flex-start
	min-height 100vh
	overflow-x hidden
