$mPortrait = '(min-width:320px)'
$mPortraitIphoe6Max = '(max-width:375px)'
$mPortraitMax = '(max-width:479px)'
$mLandscape = '(min-width:480px)'
$mIphone6Max = '(max-width:667px)'
$mLandscapeMax = '(max-width:767px)'
$tPortrait = '(min-width:768px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$desktopMax = '(max-width:1239px)'
$desktop = '(min-width:1240px)'
$LargeDesktopMax = '(max-width:1599px)'
$LargeDesktop = '(min-width:1600px)'

$baseFontFamily = 'Arial'
$baseFontWeight = 400
$baseFontSize = 16px
$baseLineHeight = 1.5

$duration = 0.4s

$primary =  #3a3835
$accent = #3dae44
$red = red
$redDark = #CD0214
