$mPortrait = '(min-width:320px)'
$mPortraitIphone6Max = '(max-width:375px)'
$mPortraitIphone = '(max-width:409px)'
$mPortraitMax = '(max-width:479px)'
$mLandscape = '(min-width:480px)'
$mIphone6Max = '(max-width:667px)'
$lessThanLandscapeMaxAndMoreThanPortraitIphone = '(max-width:767px) and (min-width:410px)'
$mLandscapeMax = '(max-width:767px)'
$tPortrait = '(min-width:768px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$desktopMax = '(max-width:1239px)'
$desktop = '(min-width:1240px)'
$LargeDesktopMax = '(max-width:1599px)'
$LargeDesktop = '(min-width:1600px)'

$baseFontFamily = 'Montserrat'
$baseFontWeight = 400
$baseFontSize = 16px
$baseLineHeight = 1.5

$duration = 0.4s

$primary =  #3a3835
$default =  #222222
$accent = #f19100
$blue = #2865d4
$red = #ff0000
$white = #ffffff
$gray = #767676
$border-gray = #f7f7f7
