+b('section').section-social.--youtube
	+e.container
		+e.grid
			+e.col.--head
				+e('h3').title Ещё больше полезной информации 
					strong в нашем Youtube канале
				+e('a')(href="#").btn.--youtube Youtube - подпишитесь
				+e('p').text Канал СК "Дока" - расскажем все о каркасном строительстве. О том как выбрать качественную баню / функциональный дом или построить всё самому.
			+e.col.--body
				+e.gallery-items
					+e.gallery-item
						+e.gallery-card
							+e('a')(href="#" style="background-image: url('" + rootPath + "/social/video-ytb.jpg');").gallery-card-video
								span
							+e('a')(href="#").gallery-card-title Какую баню выбрать: каркасную или из бруса/бревна?
							+e('ul').gallery-card-props
								+e('li').gallery-card-prop 8,8 тыс. просмотров
								+e('li').gallery-card-prop 2 года назад
					+e.gallery-item
						+e.gallery-card
							+e('a')(href="#" style="background-image: url('" + rootPath + "/social/video-ytb2.jpg');").gallery-card-video
								span
							+e('a')(href="#").gallery-card-title Бюджетная и функциональная баня классической серии 4х5 метра!
							+e('ul').gallery-card-props
								+e('li').gallery-card-prop 4,9 тыс. просмотров
								+e('li').gallery-card-prop 11 месяцев назад
