+b('section').section-actions
	+e.container
		+e.head.common-top
			+e('h2').title.common-title-h3
				strong Полезные статьи,
				| пишем специально для Вас
			+e('a')(href="#").all-link Все статьи
		+e.items
			each item in actions
				+e.item
					+e('a').item-card(href="#" class=(item.size) style="background-image: url('"+ rootPath + item.img +"');")
						+e('div').item-card-content
							+e('div').item-card-type #{item.type}
							+e('div').item-card-title #{item.title}
							+e('time').item-card-date #{item.date}
