+b('section').section-seo-slider
	+e.container
		+e.slider
			.swiper-container
				.swiper.js-swiper-seo
					.swiper-wrapper
						- for (let i = 0; i < 4; i++)
							.swiper-slide
								+e.item
									+e('p').item-title Заголовок СЕО-текста
									+e.item-text.text.shaving
										p Далеко не все автосервисы знакомы с особенностями автомобилей Toyota. Как показывает практика, лучше обращаться в узкоспециализированный сервис, который точно имеет все необходимые запчасти, глубокие знания по ремонту данной марки автомобиля.
										p Далеко не все автосервисы знакомы с особенностями автомобилей Toyota. Как показывает практика, лучше обращаться в узкоспециализированный сервис, который точно имеет все необходимые запчасти, глубокие знания по ремонту данной марки автомобиля.
										a(href="#") Открыть подробнее
				.swiper-button-prev
				.swiper-button-next
