+b('section').section-head(style="background-image: url('static/images/bg.png')")
	+e.container
		+e('h1').title Готовые модульные дома и&nbsp;бани от&nbsp;306&nbsp;400&nbsp;₽ под ключ
				strong  в&nbsp;рассрочку на&nbsp;12&nbsp;месяцев
				|  без процентов

		+e('p').text
			strong Скидка при покупке дома или бани до&nbsp;50&nbsp;000&nbsp;₽ только до 20&nbsp;ноября
			|  за бесплатную экскурсию по нашему производству

		+e.info
			+e.info-items
				+e.info-item
					+e('p').info-item-title Познакомьтесь
					+e('p').info-item-text с технологией строительства
				+e.info-item
					+e('p').info-item-title Оцените качество
					+e('p').info-item-text материалов на стройплощадке
				+e.info-item
					+e('p').info-item-title Задайте вопросы
					+e('p').info-item-text руководителю производства

		+e.buttons
			+e('a')(href="#").callback-btn
				span Запишитесь на экскурсию
			+e('a')(href="#").watch-video-btn
				i
				span Посмотрите видео о качестве нашей работы

		+e.advantages
			+e.advantage
				+e.advantage-overico
					+e('img').advantage-ico(src="static/images/advantage-ico.png" alt="")
				+e('p').advantage-text Собственное, крытое,
					strong  тёплое производство
					|  S = 2000 м²
			+e.advantage
				+e.advantage-overico
					+e('img').advantage-ico(src="static/images/advantage-ico2.png" alt="")
				+e('p').advantage-text 40 опытых строительных бригад
					strong  cтаж более 10 лет
			+e.advantage
				+e.advantage-overico
					+e('img').advantage-ico(src="static/images/advantage-ico3.png" alt="")
				+e('p').advantage-text
					strong Гарантия 5 лет<br>
					|  на все строительные работы по договору
