+b('section').section-delivery
	+e.container
		+e('h2').title.common-title-h2 Как происходит  
			strong доставка и разгрузка бани?
		+e('p').text.common-subtext
			strong Гарантируем безопасность 
			|  и сохранность вашей бани во время транспортировки. Опыт водителей  
			strong более 7 лет, 
			| они отлично знают все тонкости перевозки таких грузов.
		+e.grid
			+e.col.--content
				+e.items
					+e.item
						+e.item-overico
							+e('img')(src=rootPath + "delivery-ico.png" alt="").item-ico
						+e.item-content
							+e('p').item-title Доставка и разгрузка бани осуществляется манипулятором
							+e.item-text Манипуляторы совмещают функционал грузовика и крана. Длина борта доходит до 13 метров,  
								strong грузоподъемность — до 20 тонн.  
								| Длина стрелы может достигать 20-22 метров. Грузоподъемность в стандартном положении — до 10 тонн.
					+e.item
						+e.item-overico
							+e('img')(src=rootPath + "delivery-ico.png" alt="").item-ico
						+e.item-content
							+e('p').item-title Перед погрузкой, проводится бережная упаковка бани 
							+e.item-text
								ul
									li
										strong Проводится строповка, 
										| чтобы избежать смещения центра тяжести в процессе движения;
									li
										strong Закрываются окна и двери. 
										| Они не должны открываться в дороге, увеличивая парусность груза;
									li
										strong Закрепляются внутри все детали 
										| , которые хотя бы потенциально могут сместиться в пути;
									li
										strong Заранее подбирается маршрут. 
										| Во избежание резких спусков, подъемов и поворотов.
									li
										strong Баня обматывают стрейч-пленкой. 
										| Это убережет стекла от случайных камешков, веток и иного мусора.
			+e.col.--video
				+video({
					cover: 'video-delivery2.jpg',
					description: '<strong>CТОИМОСТЬ ДОСТАВКИ РАССЧИТЫВАЕТСЯ ИСХОДЯ ИЗ КИЛОМЕТРАЖА:</strong> <a href="#">50&nbsp;рублей&nbsp;=&nbsp;1&nbsp;километр</a>. Это позволяет многим нашим клиентам сэкономить, так как мы не берем фиксированную плату за доставку.'
				})(class="--delivery")
