+b('section').section-materials
	+e.container
		+e('h2').title.common-title-h2
			strong Какие материалы используем
			|  и по какой технологии строим?
		+e('p').text.common-subtext Строим наши бани в полном соответствии со сводом правил 
			strong
				a(href='#') СП 31-105-2002
			| , который гарантирует 
			strong качество, безопасность и полное соответствие законодательству.
		+video({
			cover: 'video-materials.jpg',
			description: 'Посмотрите видео от директора “ДОКА БАНИ”, в котором он подробно рассказывает <strong>о технологии строительства, применяемых материалах и о том, что такое</strong> <a href="#">СП 31-105-2002</a>.'
		})
