+b('section').section-reviews
	+e.container
		+e.content
			+e.rating
				+e.rating-text
					strong 4,9
					|  на
					a(href="#" target="_blank") Яндекс картах
			+e('h2').title.common-title-h3 Более
				strong 56 живых отзывов
				|  и
				strong 120&nbsp;положительных оценок
				|  подделать которые, практически невозможно
			+e('p').text Мы всегда призываем клиентов делиться своим опытом работы с нами и оставлять отзывы на различных платформах и сайтах. Это поможет другим клиентам принять решение о сотрудничестве с нашей компанией и сделает их выбор более осознанным.
			+e('a')(href="#" target="_blank").reviews-all-href
				span Посмотрите все отзывы на Яндексе
		+e.reviews
			+e.reviews-overimg
				+e('img')(src="static/images/reviews.png" alt="").reviews-img
