+b('ul').social
	+e('li').item
		+e('a')(href="#" target="_blank").item-href.--vk
	+e('li').item
		+e('a')(href="#" target="_blank").item-href.--tgm
	+e('li').item
		+e('a')(href="#" target="_blank").item-href.--ytb
	+e('li').item
		+e('a')(href="#" target="_blank").item-href.--wsp
