extends includes/template/base.pug

block variables
	- const title = 'Главная';
	- const rootPath = 'static/images/';

block main

	include includes/blocks/section-head.pug
	include includes/blocks/section-reviews.pug
	include includes/blocks/section-objects.pug
	include includes/blocks/section-promotions.pug
	include includes/blocks/section-materials.pug
	include includes/blocks/section-methodology.pug
	include includes/blocks/section-social-youtube.pug
	include includes/blocks/section-delivery.pug
	include includes/blocks/section-history.pug
	include includes/blocks/section-excursion.pug
	include includes/blocks/section-faq.pug
	include includes/blocks/section-gallery.pug
	include includes/blocks/section-social-vk.pug
	include includes/blocks/section-specialists.pug
	include includes/blocks/section-contacts.pug
	include includes/blocks/section-seo-slider.pug
	include includes/blocks/section-articles.pug

