extends includes/template/base.pug

block variables
	- const title = 'Акции';
	- const rootPath = 'static/images/';
	- const breadcrumbsData = [ 'Главная', title];
	- const mainClass = 'main--gray';

block main

	+breadcrumbs(breadcrumbsData, true)

	+section-promotions({ items: promotions })(class="--page")

	+section-articles({ items: articles.min, hasLinkAll: true })(class="bg-white")
