extends includes/template/base.pug

block variables
	- const title = 'Бани';
	- const rootPath = 'static/images/';
	- const breadcrumbsData = ['Главная', title];

block main

	//+section-head({breadcrumbs: breadcrumbsData})
	//include includes/blocks/section-reviews.pug
	include includes/blocks/section-projects.pug
	//+section-promotions({items: promotions, hasSlider: true})
	//include includes/blocks/section-materials.pug
	//include includes/blocks/section-methodology.pug
	//include includes/blocks/section-social-youtube.pug
	//include includes/blocks/section-delivery.pug
	//include includes/blocks/section-history.pug
	//include includes/blocks/section-excursion.pug
	//include includes/blocks/section-faq.pug
	//include includes/blocks/section-gallery.pug
	//include includes/blocks/section-social-vk.pug
	//include includes/blocks/section-specialists.pug
	//+section-contacts()
	//include includes/blocks/section-seo.pug
	//+section-articles({items: articles.min, hasLinkAll: true})


		
