.breadcrumbs
	padding 28px 0 18px
	@media $mPortraitMax
		padding 15px 0 10px
	&__list
		font-size 0
		line-height 0
	&__item
		display inline-block
		vertical-align top
		position relative
		margin-right 13px
		padding-right 19px
		margin-bottom 5px
		&:last-child
			&:before
				display none
				content none
		&:before
			@extend .psElem
			position absolute
			right 0
			top 4px
			width 5px
			height 9px
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJBAMAAAAIg/utAAAAKlBMVEUAAADf39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f39/f399Xts2HAAAADXRSTlMA6NSemjP27tu0SjIKoLHl7gAAACtJREFUCNdj8GJgYJgbwMDAchXIsN3AwMB8gYGBqYGBoZCB4aAAA4MaAwMAb4YFuwuzYsQAAAAASUVORK5CYII=') no-repeat center
	&__link
		display inline-block
		vertical-align top
		color #575757
		font-size 12px
		line-height 14px
		&[href]
			border-bottom 1px solid rgba(#686662, .5)
			transition border $duration
			&:hover
				border-bottom-color transparent
	&--gray
		background-color #f8f8f8
	&--section-head
		padding 0
