.nav
	width 100%
	>
		& ^[0]__list
			position relative
			padding-right 58px
	&__list
		display flex
		align-items center
		width 100%
	&__list-item
		position relative
		&:first-child
			& ^[0]__list-href
				@media $desktopMax
					padding-left 0
		&--have-sublist
			& ^[0]__list-href
				&:after
					position absolute
					top 26px
					right 4px
					content ''
					display block
					width 0
					height 0
					border-style solid
					border-width 5px 3px 0 3px
					border-color #b3b3b3 transparent transparent transparent
					transition border $duration, transform $duration
					@media $desktopMax
						top 21px
			&:hover
				& ^[0]__sublist
					opacity 1
					visibility visible
					transition opacity $duration, opacity $duration
		&--button
			position absolute
			top 9px
			right -2px
			background-color $white
			z-index 1
			@media $desktopMax
				top 4px
	&__list-href
		display block
		position relative
		padding 22px 22px
		color $primary
		font-size 12px
		font-weight bold
		line-height 14px
		text-transform uppercase
		white-space nowrap
		transition color $duration
		user-select none
		@media $desktopMax
			padding 17px 22px
			letter-spacing .015em
			@media $tPortraitMax
				padding-left 23px
				padding-right 23px
		&:hover,
		&--active
			color $accent
		&:hover
			&:after
				border-color $accent transparent transparent transparent
				transform scaleY(-1)
	&__sublist
		min-width 230px
		position absolute
		left 0
		top 100%
		padding 12px 20px
		background-color $white
		border-radius 12px
		box-shadow 0px 10px 10px 0px rgba(215, 215, 215, 0.15)
		opacity 0
		visibility hidden
		z-index 2
	&__sublist-item
		padding 4px 0
	&__sublist-href
		display block
		padding 4px 0
		color #2a2a2a
		font-size 12px
		line-height 14px
		transition color $duration
		user-select none
		span
			border-bottom 1px solid #2a2a2a
			transition border $duration
		&:hover
			color $accent
			span
				border-bottom-color transparent
	&__list-button
		display flex
		align-items center
		justify-content center
		position relative
		right -5px
		width 40px
		height 40px
		background none
		border none
		outline none
		padding 0
		span
			display block
			position relative
			width 26px
			height 2px
			background-color $primary
			transition background $duration
			&:before, &:after
				content ''
				position absolute
				left 0
				width 26px
				height 2px
				background-color $primary
				transition transform $duration, background $duration, top $duration ease $duration, bottom $duration ease $duration
			&:before
				top -6px
			&:after
				bottom -6px
		&:hover
			span
				background-color $accent
				&:before, &:after
					background-color $accent
		&.active
			span
				background-color transparent
				&:before, &:after
					background-color $accent
					transition transform $duration ease $duration, background $duration, top $duration ease, bottom $duration ease
				&:before
					top 0
					transform rotate(45deg)
				&:after
					bottom 0
					transform rotate(-45deg)
	&__second-level
		position relative
		width 100%
		margin-top -58px
		opacity 0
		visibility hidden
		transition opacity $duration, visibility $duration, margin $duration
		z-index 1
		@media $desktopMax
			margin-top -48px
		&.open
			opacity 1
			visibility visible
			margin-top 0
