.reviews
	&__item
		display grid
		grid-template-columns 154px 1fr
		grid-template-rows auto
		grid-column-gap 24px
		position relative
		width 100%
		padding-top 20px
		padding-bottom 20px
		border-bottom 1px solid $border-gray
		&:last-child
			border-bottom none
		@media $mLandscapeMax
			display block
			padding-top 16px
			padding-bottom 16px
	&__item-left
		width 135px
		@media $mLandscapeMax
			display flex
			align-items center
			width 100%
			margin-bottom 18px
	&__item-right
		padding-top 1px
		@media $mLandscapeMax
			width 100%
			padding-top 0
	&__item-right-top
		position relative
		margin-bottom 21px
		& ^[0]__item-rating
			margin-bottom 0
		& ^[0]__item-original
			position absolute
			right 0
			bottom 0
			z-index 1
	&__item-overphoto
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 135px
		height 135px
		border-radius 10px
		margin-bottom 17px
		user-select none
		@media $mLandscapeMax
			width 70px
			height 70px
			margin-right 12px
			margin-bottom 0
	&__item-left-bottom
		line-height 0
	&__item-author
		font-size 18px
		font-weight 600
		line-height 20px
		margin-bottom 8px
		&:last-child
			margin-bottom 0
	&__item-href
		display inline-block
		vertical-align top
		max-width 100%
		color $blue
		font-size 12px
		line-height 12px
		font-style italic
		text-overflow ellipsis
		white-space nowrap
		border-bottom 1px solid $blue
		transition border $duration
		overflow hidden
		&:hover
			border-bottom-color transparent
	&__item-title
		font-size 24px
		font-weight 600
		line-height 27px
		margin-top -5px
		margin-bottom 7px
		@media $tPortraitMax
			margin-top 0
			font-size 18px
			line-height 22px
		@media $mLandscapeMax
			margin-bottom 5px
	&__item-rating
		display flex
		align-items flex-end
		margin-bottom 21px
	&__item-date
		display inline-block
		vertical-align baseline
		color #c8c8c8
		font-size 12px
		font-weight 300
		line-height 14px
	&__item-text
		margin-bottom 23px
		color #767575
		font-size 18px
		line-height 24px
		@media $tPortraitMax
			margin-bottom 15px
			font-size 14px
			line-height 17px
		&:last-child
			margin-bottom 0
		p + p
			margin-top 18px
		a
			color $blue
			border-bottom 1px solid $blue
			transition border $duration
			&:hover
				border-bottom-color transparent
	&__item-original
		margin-top 23px
		color #c8c8c8
		font-size 14px
		line-height 17px
		@media $tPortraitMax
			margin-top 15px
			font-size 12px
			line-height 14px
		a
			color $blue
			border-bottom 1px solid transparent
			transition border $duration
			font-style italic
			&:hover
				border-bottom-color $blue
	&__item-gallery
		display flex
		flex-wrap wrap
		gap 10px
		width 100%
	&__item-gallery-img
		display block
		width 146px
		height 93px
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 8px
	&--card
		& ^[0]__item
			padding-top 0
			padding-bottom 0
		& ^[0]__item-text
			margin-bottom 15px
		& + .section-gallery--card
			margin-top 40px
			padding-top 40px
			border-top 1px solid whitesmoke
