.section-gallery
	padding-top 52px
	padding-bottom 59px
	background-color #fbfbfb
	&__container
		@extend .container
	&__title
		margin-bottom 20px
	&__text
		margin-bottom 58px
	&__items
		display grid
		grid-template-columns repeat(3, 1fr)
		grid-template-rows auto
		gap 24px
	&__item-card
		display block
		position relative
		padding-top 72%
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 12px
	&__item-card-play
		display flex
		position absolute
		top 50%
		left 50%
		width 88px
		height 88px
		background-color white
		box-shadow 0 0 45px rgba(255, 255, 255, 0.25)
		border-radius 50%
		transform translate(-50%, -50%)
		z-index 2
		&:before
			@extend .psElem
			width 22px
			height 24px
			margin auto
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAMAAADJYP15AAAAXVBMVEUAAADxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQD50p9lAAAAHnRSTlMA3+fu28AsFsnErKeXhWZfSEM9JB8MB/Xjt6Ofi38IYUBCAAAAeUlEQVQoz23RVxKAIAxFUYqIvYM9+1+mjo7DBN/9PB9AiLBGr734VdFdOcac0FPtOSt6W1rGkr7ygXFomxiHTg+ZZBuYZYbArN1CJp1CpgSzhDzDQ8oJXJn14IGqQePUDgxfjOCrsg6sQTVoaYcDKy5SEWVzbToRdwFEPyL6saR0LgAAAABJRU5ErkJggg==') no-repeat center
			transform translateX(4px)
	&__item-description
		color #262626
		font-size 17px
		line-height 19px
		font-weight 600
		margin-top 20px
	&--card
		padding 0
		background none
