.section-projects
	padding-top 48px
	padding-bottom 60px
	&__container
		@extend .container
	&__title
		margin-bottom 24px
	&__text
		margin-bottom 48px
	&__items
		display grid
		grid-template-columns repeat(2, 1fr)
		gap 24px
	&__card
		display grid
		gap 24px
	&__card-cover
		display block
		width 100%
		padding-top 56.32%
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 12px
		user-select none
	&__card-row
		display flex
		justify-content space-between
		margin-bottom 24px
	&__card-title
		color #222
		font-size 28px
		font-weight 600
		line-height 32px
	&__card-price
		color #222
		font-size 14px
		line-height 24px
		font-weight 600
		span
			color #f19100
			font-size 24px
			font-weight 700
	&__card-text
		margin-bottom 24px
		color #767676
		font-size 16px
		line-height 19px
	&__card-buttons
		display flex
		justify-content space-between
		align-items center
		column-gap 24px
	&__card-more-btn,
	&__card-layouts-btn
		user-select none
	&__card-more-btn
		padding-left 55px
		padding-right 55px
	&__card-layouts-btn
		display block
		color #b3b3b3
		font-size 14px
		line-height 17px
		font-weight 600
		border-bottom 1px solid #b3b3b3
		transition border $duration
		&:hover
			border-bottom-color transparent
