.section-history
	padding 60px 0
	&__container
		@extend .container
	&__title
		margin-bottom 18px
	&__text
		margin-bottom 49px
	&__items
		display flex
		flex-direction column
		width 100%
		grid-row-gap 50px
	&__item
		padding-bottom 29px
		border-bottom 1px solid #f7f7f7
		&:last-child
			padding-bottom 0
			border-bottom none
	&__card
		width 100%
	&__card-top
		display flex
		width 100%
		margin-bottom 10px
		padding-bottom 31px
		border-bottom 1px solid #f7f7f7
	&__card-gallery,
	&__card-content
		width 50%
	&__card-gallery
		.swiper
			padding-bottom 0
	&__card-gallery-big
		width 100%
		height 328px
		margin-bottom 8px
		& ^[0]__card-gallery-overimg
			border-radius 16px
		.swiper-button-prev,
		.swiper-button-next
			margin 0
			transform translateY(calc(-50% + 4px))
	&__card-gallery-overimg
		display flex
		justify-content center
		align-items center
		width 100%
		height 100%
		overflow hidden
	&__card-gallery-img
		max-width 100%
		max-height 100%
	&__card-gallery-thumbs
		width 100%
		height 78px
		& ^[0]__card-gallery-overimg
			border-radius 2px
	&__card-content
		padding-left 24px
	&__card-content-rows
		display flex
		flex-direction column
		gap 27px
	&__card-content-row
		padding-bottom 24px
		border-bottom 1px solid #f7f7f7
		&:last-child
			padding-bottom 0
			border-bottom none
	&__card-title
		color #222
		font-size 24px
		line-height 27px
		font-weight bold
		margin-top -4px
		margin-bottom 22px
	&__card-items
		display grid
		grid-template-columns repeat(3, 1fr)
		grid-template-rows auto
		gap 24px 48px
	&__card-item-title
		margin-bottom 5px
		color #8c8c8c
		font-size 14px
		line-height 17px
	&__card-item-data
		color $accent
		font-size 30px
		line-height 34px
		font-weight 700
		span
			margin-left 8px
			color $default
			font-size 18px
			line-height 24px
	&__card-props
		display grid
		grid-template-columns repeat(2, minmax(0, 1fr))
		grid-template-rows auto
		gap 10px 62px
	&__card-prop
		display flex
		width 100%
	&__card-prop-title,
	&__card-prop-data
		font-size 16px
		line-height 20px
	&__card-prop-title
		color #8c8c8c
		padding-right 4px
	&__card-prop-data
		font-weight 600
		word-break break-word
	&__card-video
		display flex
		align-items flex-start
		grid-column-gap 24px
		width 100%
	&__card-video-item
		display flex
		flex-shrink 0
		position relative
		width 228px
		height 124px
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 7px
		overflow hidden
		&:before,
		&:after
			@extend .psElem
			position absolute
			pointer-events none
		&:before
			left 0
			top 0
			width 100%
			height 100%
			background-color rgba(#000, .7)
			z-index 1
		&:after
			left 8px
			bottom 6px
			width 208px
			height 14px
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANAAAAAOCAMAAABpTmIZAAAAgVBMVEUAAAD5+fn9/f3////////////////////////////5+fn////////7+/v5+fnxkQDxkQDJycn8/Pz5+fn////5+fn5+fnxkQD5+fn////5+fn5+fnJycnJycn5+fn5+fn////xkQDxkQD////5+fn5+fnJycn5+fn////smBjxkQDjoQi/AAAAJnRSTlMA8Gs674aCcxn25r94aPLm4NXKtpaNS0gs+ezS0c6xrltNRjQQDSVyBc8AAACrSURBVEjH3dbJDoIwFIXhY5kHZVDAeZZbeP8HVIg2lrBCE0q/3Vn+SXNT/M81jguMb+kzdOzLQaq6rsqxHUBEaQ5JUg6gSFCCBb2c1vhdEUUXjG9GrewBTbyDyJ9DDzP6gB60Ddpq9uSyO4Qzur5i3cB1DCisPdtH6Wwz2KYtVjNCMVacG4EDhRHRLoeEweQbCB435aBU6aCerw+D5VliNSOc0JPrcUPXhAqeoH9F2OTuhpUAAAAASUVORK5CYII=') no-repeat center
			z-index 2
		span
			display flex
			width 44px
			height 44px
			margin auto
			border-radius 22px
			background-color #fff
			z-index 3
			&:before
				content ''
				display block
				width 0
				height 0
				margin auto
				border-style solid
				border-width 5.5px 0 5.5px 9px
				border-color transparent transparent transparent $accent
				transform translateX(2px)
	&__card-video-text
		position relative
		color #959595
		font-size 14px
		line-height 17px
		&:after
			@extend .psElem
			position absolute
			left 0
			top calc(100% + 8px)
			width 66px
			height 32px
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAAAgCAMAAACRtl6LAAAAflBMVEUAAADxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQAmPUfvAAAAKXRSTlMABJErBrYQ9ebEcSYVzGVMGgqZhllFQPDt1dOtnzcxIBPbvKZ8al88aG3Bg2IAAADwSURBVEjHpdVHbsMwEAXQYROrerGKVdyj+18wiPehbPwPcEc8gjMshKZ8wYQbYGJvQECSYGAh+JnA8NOKErcOBGZ4F7N2DCTsAxTaB4HJdY0SaQ3u4p4TJhTqIiCAsReXkJBUlrCEQSUQ0F0ZVgXJdQU1QlQh3yJt4gd6QrxXITLhac7RGvl6WLvIDLakpoms32VkVLtRRKj6ev2nfMG3wZwUHcTsZvLJQvKPew9GJZEX9+Kp+4kVx7ch25tbm+37yJRNt59r6gp70cGONmfzhwfZ6XfLSloyJ7zLcmq8YCS/e8kJjhphQqYT/sFzAvILRgwLLR4Z32UAAAAASUVORK5CYII=') no-repeat center
		span
			display -webkit-box
			-webkit-line-clamp 5
			-webkit-box-orient vertical
			text-overflow ellipsis
			overflow hidden
		a
			color $accent
			font-weight 600
			border-bottom 1px solid $accent
			transition border $duration
			&:hover
				border-bottom-color transparent

	// &__card-bottom
	// &__bottom
	// &__more
