.section-excursion
	padding-top 77px
	padding-bottom 86px
	background-color #fbfbfb
	&__container
		@extend .container
	&__wrap
		position relative
		width calc(100% + 244px)
		margin-left -74px
		padding 68px 74px 55px
		background-repeat no-repeat
		background-position calc(100% + 2px) 4px
		background-size cover
		background-color #fff
		box-shadow: 0 16px 32px 0 rgb(215,215,215,0.15)
		border-top-left-radius 138px
		border-bottom-right-radius 138px
		outline 22px solid #fff
	&__content
		max-width 760px
	&__title
		margin-bottom 28px
	&__text,
	&__info
		max-width 660px	
	&__text
		margin-bottom 39px
	&__info
		display grid
		grid-template-columns repeat(3, minmax(156px, 200px))
		grid-template-rows auto
		gap 24px
		max-width 660px
		margin-bottom 36px
	&__info-item
		position relative
		padding-left 40px
		font-size 16px
		line-height 19px
		&:before
			content ''
			display block
			position absolute
			top 4px
			left 2px
			width 20px
			height 18px
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAMAAABsDg4iAAAAeFBMVEUAAAD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgAllLJBAAAAJ3RSTlMAEZXu4i0eF+a5996KTUT70LBbQDUj6uHWy8WhnIF8dFU3CKePcwsY26F8AAAAvUlEQVQY002Q2ZaCMBAFbyBEAsMmuI8z6iz1/3+oafFgvXROpW/3SWQU2Q7yn1YLLvJQW6AuJK1CaqvYNzdJ1wiTXNVJoeJLM+veyXOS4uJS1pNJI/37eHPKWL/1leZU49TW09Nt+bADpXTB/0sK+cO5wqTNGGanTzbSDifpyDmUlu0J6eaStpbAWdKGvaSRg+3IYpPqL9+pRCszI/lNFuDv5VpoZEwdh9Y+cGB5yeoI+LoDX2jhesqhGuao7u3FDzdPWzZ2AAAAAElFTkSuQmCC') no-repeat center
	&__info-item-title,
	&__info-item-text
		color #3a3835
	&__info-item-title
		font-weight bold
	&__callback
		width 100%
		max-width 646px
