.section-head
	position relative
	padding-top 49px
	padding-bottom 53px
	background-repeat no-repeat
	background-position center
	background-size cover
	z-index 1
	@media $tPortraitMax
		padding-top 31px
		padding-bottom 27px
	@media $mLandscapeMax
		padding-top 30px
		padding-bottom 56px
	&__container
		@extend .container
	&__breadcrumbs
		margin-bottom 25px
	&__title
		max-width 670px
		margin-bottom 32px
		font-size 36px
		line-height 48px
		@media $desktopMax
			margin-bottom 35px
			line-height 43px
		@media $tPortraitMax
			margin-bottom 20px
			font-size 32px
			line-height 38px
		@media $mLandscapeMax
			margin-bottom 21px
			font-size 18px
			line-height 22px
		strong
			font-weight 600
	&__text
		position relative
		padding-left 45px
		max-width 668px
		margin-bottom 36px
		font-size 18px
		line-height 22px
		@media $tPortraitMax
			margin-bottom 23px
			font-size 16px
			line-height 19px
		@media $mLandscapeMax
			margin-bottom 26px
			font-size 12px
			line-height 14px
		&:before
			@extend .psElem
			position absolute
			left 0
			top 10px
			width 27px
			height 2px
			background-color $accent
	&__info
		max-width 630px
		margin-bottom 35px
	&__info-items
		display grid
		grid-template-columns repeat(3, minmax(156px, auto))
		grid-template-rows auto
		gap 24px 42px
	&__info-item
		position relative
		padding-left 40px
		font-size 14px
		line-height 17px
		&:before
			@extend .psElem
			position absolute
			top 4px
			left 3px
			width 18px
			height 16px
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAMAAABsDg4iAAAAeFBMVEUAAAD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgD/kgAllLJBAAAAJ3RSTlMAEZXu4i0eF+a5996KTUT70LBbQDUj6uHWy8WhnIF8dFU3CKePcwsY26F8AAAAvUlEQVQY002Q2ZaCMBAFbyBEAsMmuI8z6iz1/3+oafFgvXROpW/3SWQU2Q7yn1YLLvJQW6AuJK1CaqvYNzdJ1wiTXNVJoeJLM+veyXOS4uJS1pNJI/37eHPKWL/1leZU49TW09Nt+bADpXTB/0sK+cO5wqTNGGanTzbSDifpyDmUlu0J6eaStpbAWdKGvaSRg+3IYpPqL9+pRCszI/lNFuDv5VpoZEwdh9Y+cGB5yeoI+LoDX2jhesqhGuao7u3FDzdPWzZ2AAAAAElFTkSuQmCC') no-repeat center
			background-size contain
	&__info-item-title,
	&__info-item-text
		color #3a3835
	&__info-item-title
		font-weight bold
	&__buttons
		display flex
		align-items center
		margin-bottom 33px
		@media $tPortraitMax
			margin-bottom 27px
		@media $mLandscapeMax
			margin-bottom 24px
	&__callback-btn
		display block
		margin-right 38px
		padding 24px 63px
		background-color #262626
		border-radius 36px
		box-shadow -3.6px 3.5px 10px rgba(38,38,38,0.35), inset 0 0 12px 6px rgba(255,255,255,0.27)
		transition background $duration, box-shadow $duration
		user-select none
		&:hover
			background-color $accent
			box-shadow -3.6px 3.5px 10px rgba(38,38,38, 0), inset 0 0 12px 6px rgba(255, 255, 255, 0)
		@media $mLandscapeMax
			margin-right 0
			padding 16px 46px
		span
			text-shadow -1.4px 1.4px 0 rgba(86, 186, 86, 0.3)
			color white
			font-size 14px
			font-weight 600
			line-height 16px
			text-transform uppercase
			white-space nowrap
	&__watch-video-btn
		display flex
		align-items center
		user-select none
		@media $mLandscapeMax
			position absolute
			left 50%
			bottom -35px
			transform translateX(-50%)
			z-index 1
		i
			display flex
			justify-content center
			align-items center
			position relative
			width 81px
			height 81px
			background-color rgba(#e5e4e3, .5)
			border-radius 40px
			box-shadow inset 0 0 11.2px 0.8px rgba(255, 255, 255, 0.13)
			z-index 1
			@media $mLandscapeMax
				width 70px
				height 70px
				flex-shrink 0
			&:before,
			&:after
				@extend .psElem
			&:before
				width 56px
				height 56px
				background-color #e94134
				border-radius 28px
				box-shadow -3.6px 3.5px 10px rgba(86, 186, 86, 0.35), inset 0 0 11.2px 0.8px rgba(255, 255, 255, 0.27)
				@media $mLandscapeMax
					width 48px
					height 48px
			&:after
				position absolute
				top 50%
				left 50%
				width 16px
				height 16px
				margin-left 2px
				background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAARCAMAAAA11AaTAAAAYFBMVEUAAAD7/fs3gSz9/v03gSz9/v3n8OXb6dn///////+oyKM3gSz///83gSw3gSzy9/L////////////T49HO4Mv///+91bn///////83gSx+rXb///////99rXY3gSz////87T3DAAAAH3RSTlMA9EjtS/fIro9jUSgQDQXdz7CvqJGDcG1LNTAvLCsXFxV4rgAAAGFJREFUGNN9j0cOwCAMBA2kE9J74/+/DLIFRjlkbiN5V2uAWfUnMNo6ijp4klqHWoMLi3QbuXRODFfsVIPOqJKc+frvfX7HfVnVAHu7GNqDe8X0+L0YPPifUWHQo+VugHkB6HEP9yAKpWsAAAAASUVORK5CYII=') no-repeat center
				transform translate(-50%, -50%)
				z-index 1
				@media $mLandscapeMax
					width 14px
					height 14px
					background-size contain
		span
			display -webkit-box
			-webkit-line-clamp 2
			-webkit-box-orient vertical
			max-width 220px
			height 56px
			margin-left -33px
			padding 14px 16px 14px 48px
			color #8c8a86
			font-size 12px
			line-height 14px
			text-overflow ellipsis
			background-color #fff
			border-radius 0 28px 28px 0
			overflow hidden
			@media $mLandscapeMax
				width 148px
				padding 14px 12px 14px 23px
				font-size 10px
				line-height 12px
	&__advantages
		display grid
		grid-template-columns repeat(3, minmax(194px, auto))
		grid-template-rows auto
		gap 24px 48px
		width 100%
		max-width 680px
	&__advantage
		display flex
	&__advantage-overico
		display flex
		flex-direction column
		justify-content center
		align-items center
		width 42px
		height 42px
		flex-shrink 0
		margin-right 20px
	&__advantage-ico
		max-width 100%
		max-height 100%
	&__advantage-text
		padding-top 4px
		font-size 12px
		line-height 14px
	&__img
		position absolute
		right calc((100% - 1164px) / 2 - 144px)
		bottom 0
		width 580px
		height 100%
		background-repeat no-repeat
		background-position center bottom
		background-size auto
		z-index -1
