.section-waiting
	padding-top 34px
	background-color $white
	&__container
		@extend .container
	&__title
		margin-bottom 49px
	&__rows
		display grid
		grid-row-gap 50px
	&__row
		padding-bottom 50px
		border-bottom 1px solid #f0f0f0
	.section-social
		padding 0
