.section-materials
	padding-top 48px
	padding-bottom 32px
	background-color #fbfbfb
	@media $mLandscapeMax
		padding-top 34px
		padding-bottom 24px
	&__container
		@extend .container
	&__title
		margin-bottom 26px
		@media $mLandscapeMax
			margin-bottom 12px
	&__text
		margin-bottom 52px
		@media $mLandscapeMax
			margin-bottom 25px
