.section-gallery
	padding-top 52px
	padding-bottom 59px
	background-color #fbfbfb
	@media $mLandscapeMax
		padding-top 34px
		padding-bottom 40px
	&__container
		@extend .container
	&__title
		margin-bottom 20px
		@media $mLandscapeMax
			margin-bottom 14px
	&__text
		margin-bottom 58px
		@media $mLandscapeMax
			margin-bottom 20px
	&__items
		display grid
		grid-template-columns repeat(3, 1fr)
		grid-template-rows auto
		gap 24px
		@media $mLandscapeMax
			grid-template-columns repeat(2, 1fr)
			gap 12px
		@media $mPortraitMax
			gap 8px
	&__item
		@media $mLandscapeMax
			for num in (11..16)
				&:nth-child({num})
					display none
			& /.show-all &
				display block
	&__item-card
		display block
		position relative
		padding-top 72%
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 12px
		@media $mPortraitMax
			border-radius 4px
	&__item-card-play
		display flex
		position absolute
		top 50%
		left 50%
		width 88px
		height 88px
		background-color white
		box-shadow 0 0 45px rgba(255, 255, 255, 0.25)
		border-radius 50%
		transform translate(-50%, -50%)
		z-index 2
		@media $tPortraitMax
			width 66px
			height 66px
		@media $mLandscapeMax
			width 56px
			height 56px
		&:before
			@extend .psElem
			width 22px
			height 24px
			margin auto
			background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAMAAADJYP15AAAAXVBMVEUAAADxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQDxkQD50p9lAAAAHnRSTlMA3+fu28AsFsnErKeXhWZfSEM9JB8MB/Xjt6Ofi38IYUBCAAAAeUlEQVQoz23RVxKAIAxFUYqIvYM9+1+mjo7DBN/9PB9AiLBGr734VdFdOcac0FPtOSt6W1rGkr7ygXFomxiHTg+ZZBuYZYbArN1CJp1CpgSzhDzDQ8oJXJn14IGqQePUDgxfjOCrsg6sQTVoaYcDKy5SEWVzbToRdwFEPyL6saR0LgAAAABJRU5ErkJggg==') no-repeat center
			transform translateX(4px)
			@media $mLandscapeMax
				width 12px
				height 14px
				background-size contain 
				transform translateX(2px)
	&__item-description
		margin-top 20px
		color #262626
		font-size 17px
		line-height 19px
		font-weight 600
		@media $mLandscapeMax
			margin-top 8px
			font-size 14px
			line-height 17px
	&--card
		padding 0
		background none
