.section-gallery
	padding-top 52px
	padding-bottom 59px
	background-color #fbfbfb
	&__container
		@extend .container
	&__title
		margin-bottom 20px
	&__text
		margin-bottom 58px
	&__items
		display grid
		grid-template-columns repeat(3, 1fr)
		gap 24px
	&__item-card
		display block
		padding-top 72%
		background-repeat no-repeat
		background-position center
		background-size cover
		border-radius 12px
