.section-objects
	padding-top 42px
	padding-bottom 60px
	background-color #fbfbfb
	&__container
		@extend .container
	&__title
		margin-bottom 28px
	&__text
		margin-bottom 50px
	&__items
		display grid
		grid-template-columns repeat(2, 1fr)
		grid-template-rows repeat(2, 1fr)
		gap 24px
	&__item
		&:nth-child(2)
			grid-area 1 / 2 / 2 / 3
		&:nth-child(3)
			grid-area 2 / 2 / 3 / 3
		&--big
			grid-area 1 / 1 / 3 / 2
			& ^[0]__item-card
				padding-top 100%
			& ^[0]__item-card-content
				padding-bottom 48px
			& ^[0]__item-card-title
				font-size 36px
				line-height 42px
			& ^[0]__item-card-bottom
				flex-direction column-reverse
				justify-content flex-start
				align-items flex-start
				gap 16px
			& ^[0]__item-card-price
				margin-bottom 0
				strong
					font-size 36px
					line-height 36px
	&__item-card
		display block
		position relative
		width 100%
		padding-top calc(50% - 12px)
		background-size cover
		background-repeat no-repeat
		background-position center
		border-radius 7px
		overflow hidden
		z-index 1
		&:before
			@extend .psElem
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			opacity 0.5
			background-image linear-gradient(56deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0))
			z-index -1
	&__item-card-content
		display flex
		flex-direction column
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		padding 42px 44px 40px 47px
		z-index 1
	&__item-card-top
		display flex
		align-items flex-start
		justify-content space-between
	&__item-card-title
		color #fff
		font-size 30px
		line-height 36px
		font-weight 600
	&__item-card-count
		padding 12px 19px
		flex-shrink 0
		margin-top 5px
		margin-left 24px
		color #222222
		font-size 14px
		line-height 14px
		background-color #fff
		border-radius 18px
		strong
			font-weight bold
	&__item-card-bottom
		display flex
		justify-content space-between
		align-items flex-end
		margin-top auto
	&__item-card-price
		color #fff
		font-size 16px
		line-height 16px
		margin-bottom -4px
		strong
			margin-left 8px
			margin-right 8px
			font-size 30px
			line-height 30px
			font-weight bold
	&__item-card-button
		display block
		padding 23px 53px 25px
		color #fff
		font-size 13px
		line-height 16px
		font-weight 500
		text-transform uppercase
		border-radius 32px
		background-color #ffa800
		transition background $duration
		&:hover
			background-color #eb9b00
