.social
	display flex
	&__item
		flex-shrink 0
		margin-right 22px
		&:last-child
			margin-right 0
	&__item-href
		display block
		width 28px
		height 28px
		border-radius 50%
		background-repeat no-repeat
		background-position center
		background-color #bebebe
		transition background $duration, opacity $duration
		user-select none
		&:hover
			opacity .8
		&--vk
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAOCAQAAACf8RT1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfoAxEXCCUDcpLfAAABMElEQVQoz4WSvUsDQRDFf7sSsVGvCDbaRIiguDZCbNNYBSwsRA0oVqkUFFIINhJbrUQbbWwUk9JKEFKoIUKq8Q+IaCF+oYUoBjwLN8udgXOK3Xlv573ZHVb5hMNkyDNEnC/OJENLqOFb+gB4JSlPYO7obR6KsiYF1ixV19Rs6pEDsGuwp8eiA0XNjgNLpguotNxii+6mP+taTrmwsIdV4O2P/yQLDuTkXfmYUaq0AdAgzRUNV9DOABU6LTqQedAgNbYtFeOY8YD9BCeu/IEVAOUDpoMqI0THrBwCaAD5JMvHP4L+303biV8zx3ekoGBmAgKQEvlIgWLPpOwb3AiX2UQFiCkSbBBz+J4xFf5LZppdPAcTUjdpisQdU9bhvnLEIPu8AHDODUiZFJcA+Dzz+AN1tktFA2N7tgAAAABJRU5ErkJggg==')
			background-size 20px
		&--ytb
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAUCAQAAAAqnqXBAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfoAxEXCx6ZVCg4AAABQUlEQVQoz43QvUuVYRjH8c9jBzVfEhXE8mUIpMUbMfGA0JCIQxK56OAsHFyD8L9oaIhoysnBwTk9Cg6F0WDp45ogR0MIRERE4ehxOGd4jh1ffsM9XNeX6/7xjQoIfX5pM20iHlQhVWDLgbQhX7kRiguy0tLWQjYchk+hI/wJz8J6mEpeYsmYhx546ZUZbZ6q1u1ROZQ1YNUTR/bRWamT+J8dP0SlaVQRQl7eX03asYsG1f9Dx85889OyL7Zt+mjDeelwwd2Jesd8vl60LHsyUW/uVgRyVToxZ9So2dKw0X4Z1FUs/sYLdd4mFpeJVwq0aNXgvVa/vUZGzpIRl+Y9Tyrg1JkT5/gQxxb1GLdS7imZ2pByYMP34k+ppA4XitpO43x4rN+M+uSlWvUGLKBGs9kwbNKed+qKMu/lKSN3OyJzBSWCUOVNqwFCAAAAAElFTkSuQmCC')
			background-size 16px
		&--wsp
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfoAxEXCgUKKtCVAAAByElEQVQoz23RS4jOURgH4Of7zzfETlbuyXXxns2g7FxyvzVMycJukprybZQsFIkoNhaKmqYkS8woSqOEFBkL/V2LkUuTSGRhzDQzx8LMuIzf2Zx6n3M6530r2UhSvUaNGsxAj4c6XCr7R6qVEZganTDX3+m2r7z4B0yFo/bjiVad3shmWmWXhJP2l4PIsjgWOfpiT9Rlv1cU0RJ9keNElsliSwxFf6z+E43ildEXOZoyUR8vIkcti+lxOpaPoS2R42WMK2wy3zOncV6Lk/7NWY/NsbXQiLZyMI23DItSw9+uHNSKLYVF6ES/r/js45g7O7G4MAXvKLM23Cjfj4FvMaVQRT047JXtaccYWCAXPmA2lN806XUu1VIljUvnUy1NBLPQU+jCiuGHP7Jer1Puu2ynU16mCViLB4VL2J3qhultS92yxAbwvexNVc1oL3R4ZZbto+14Xi7X4JDrWq1GzUIvXJHFvcix7n8DzGJd9MdQbMwqMcknAyabbJ6b5dDvz6Z6NcdVHS0PULVSnR+emYHu1OaG1wbMtEaz+bIjDkIlztgNvvhu2j8dfG5vee3XtmqBC+6646nCZtssNtWAHl3aXS0HRs78BKIVvQ0zwP/YAAAAAElFTkSuQmCC')
			background-size 18px
		&--tgm
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPCAQAAACouOyaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfoAxEWOxJOZjjXAAABD0lEQVQoz3WQMUtCYRSGn2tCNOdQmwSGxndo0qZqCZIGbbFbWFPhL3DoD9TeHwiCpKghsSFaGhpqUCQ6Q9AStbVlcKVo+By8Xm/Rfc/0nvPwHs5xLNGSDDssxiOGY5TYYgn4/AeROcpUGPVt/RciE6yxSRaAPYoYoBULxitS44UDskCNJAkyADQdi0yzzgZpn+1S1rpcsArAN+NxuWU+tOtMXZBnUr5/UC/GKQ28vqWgrkzKRwBAGxwLSAKXffJ6LznuGAmlbuuhM3idnHPDkZ831Kw+BhdxTZLlP0CHJxgiJ6TYBTzeg15Lf0KIenyR45UZprgc3APhFDjmCtE37WqBav9tANiIMgumaYzF0gNY2VUHUmwkawAAAABJRU5ErkJggg==')
