.social
	display flex
	&__item
		flex-shrink 0
		margin-right 15px
		@media $mLandscapeMax
			margin-right 20px
		&:last-child
			margin-right 0
	&__item-href
		display block
		width 39px
		height 39px
		border-radius 50%
		background-repeat no-repeat
		background-position center
		transition background $duration, opacity $duration
		user-select none
		&:hover
			opacity .8
		&--vk
			background-color #507299
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAJCAQAAAB+4Q+HAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfkBQMHLxHmt92wAAAAq0lEQVQY01XLMUoDYQBE4WEllsFCMI13sEjpGURLK9HCzgPYeYRcQIIn8AzWQUhpkwWxiI2bsIKChnwW+UPiVG+YNzHReNcXlZFG41kl4s6Huft4A48ibsFCR3StchHXBfdEH0xV4gE8Sez4BENxDF7FUTn2JOKq1AMBtXMz/DqTlRJjMDGwnS/ZKIf/pqWfQmO7ayVOt5Rv+24K17prJU7UWq3Wi4hLMy0Gf/eV9F01xYliAAAAAElFTkSuQmCC')
		&--ytb
			background-color #e62117
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAQAAAAKsiavAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfkBQMHMCR9XhcNAAABAklEQVQY03XNvUpbARgG4OecHOOpJJoolF6Ao4ou3oIunVwzFAel4CR0d3LzMsRb8GdwKhRBHfxZOrbgkKWJShJi8jl4PLRD32/53h/eNwladtXlqioqEiMjQwMDP2wnseDSgZ/+6OobGKvK1TQ0bTkTR/Et/Ofm4ia16sIbEutW/I2+EN1YKvL1uIpeHMZM2ZDHbaqmVzY0LfrkREsGQioi5ov8dPwKMRsPcVO0TMZdKiTl5pM9v51a03mXMs8+FP9Q2xcbjkU5Gpm2ZkF7PuuWJlSMU9eWS6Hzj00uyez77qN7HY/6Bl5U5aY0NHx1ngSbdsyomJBKpMZGxoZeXNp8BbsNd+AoVKreAAAAAElFTkSuQmCC')
		&--wsp
			background-color #35b42b
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfkBQMHMCvt4QqcAAABAUlEQVQY01WOv0tCARhFj8+QZgtLJHjQEi2t0RaCBkEQBW01RUNzQ1Br/0q1tCW1RGBbS5IltWWpKC72ixziNKTiu3f7zuV+F+l5x0f/9epB/xoTIMMNIdecU2OcPMt8s0AJENNq1eSgB8e8VWcF8c3OEOq75I/gpjohPnkXwYF6iFUrYlbV+UigYDdgihOgCTQoM6xjEgHQAMqckSYWwW0IgBCANZ55Zxo4YoVRIAP44EvvV8J7taXqklj0AxfV3GDOng3bXho3qe4i6nZkcVzEjjXBLbumXDU/FJizo07KCBskaAJQ54I6KXKElMnSAix46r4zZr3y01+/LLre7/kDSu/iUmKwo7oAAAAASUVORK5CYII=')
		&--tgm
			background-color #70ade0
			background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAQAAADcF/zKAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfmBB0PBDViuT2nAAAAuElEQVQY03XQry/EcRzH8Reb6jZzwSapF80kkkrUnCSY4n+4Iok2Tde+wUi3CwqbmSrQFNdUHsL3fO/7GV7v8n7tufePvWbkHy2ln634q7aNwC/QM/CGF48YT8G8fTf1jL4dTxjWaMOZ8QSNdGz6Aidx6t2PPh2Jw8bvxoWPiaksinNTrdTLVw0ciLhuwVcp/77T1qXMtoJYzloRzEMK3E1S5bjx9ymW77kVse4ZLJS3u00358pQ5BsfPODJ9qwZfQAAAABJRU5ErkJggg==')
