script(src="static/js/vendor.js")
script(src="https://api-maps.yandex.ru/2.1.76/?lang=ru_RU")
script(src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
script(src="https://yastatic.net/share2/share.js")
script(src="static/js/own.js")
